body,
html,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

.main-container {
  margin-inline: auto;
  position: relative;
  height: 100%;
  background-image: repeating-linear-gradient(
    to bottom,
    #2ddbe7 0%,
    #6a91dd 10%,
    #3b5fa7 40%,
    #0a1256 100%
  );
}

.logo {
  width: 4.6rem;
  height: 4.6rem;
  margin: 1;
}

header {
  color: #fff;
  display: flex;
  font-size: 1.2em;
  justify-content: center;
  position: relative;
  height: 10%;
  width: 100%;
  padding: 5em 0;
}

ul {
  position: relative;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 2.4em;
}

a:link,
a:visited {
  color: #fff;
}
