body,
html,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif; /*Fjerner base margin og padding fra all tekstsyntax*/
}
/*deler av repeating-linear gradient er hentet fra 
https://stackoverflow.com/questions/29591465/use-css-variables-with-rgba-for-gradient-transparency
men ideen og mesteparten av koden kommer fra meg*/
.main-container {
  margin-inline: auto; /*Definerer både logisk inline start og slutt på et element som tekst og direction*/
  position: relative;
  height: 100%;
  background-image: repeating-linear-gradient(
    to bottom,
    #2ddbe7 0%,
    #6a91dd 10%,
    #3b5fa7 40%,
    #0a1256 100%
  );
}

/* Her er alt som har med header å gjøre*/
.logo {
  width: 4.6rem;
  height: 4.6rem;
  margin: 1;
}

header {
  color: #fff;
  display: flex;
  font-size: 1.2em;
  justify-content: center;
  position: relative;
  height: 10%;
  width: 100%;
  padding: 5em 0;
}

ul {
  position: relative;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 2.4em;
}

a:link,
a:visited {
  color: #fff;
}
/* Første seksjon som har med løveshowet å gjøre*/
.section-one {
  position: relative;
  display: grid;
  grid-template-columns: 35rem 35rem 15rem;
  justify-content: center;
  align-items: center; /* Aligner teksten midt på boksen*/
  gap: 0.625em;
  margin-top: 150px;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 0 0 0 9.375em; /*Padder content til å bli mer sentrert på bilde i forhold til annet innhold*/
}

h2 {
  font-size: 1.6rem;
}

.sect1-image,
.sect2-image {
  display: block;
  max-width: 100%;
  border-radius: 10px;
}
/* Både på sect1-text og image så kunne jeg fint droppet å gjort klassenavnet for komplisert men ville vise at ved et større prosjekt så hadde det vært
lett å kunne spesifikt velge ut den teksten jeg ville. */
.sect1-text,
.sect2-text {
  font-size: 1.1em;
}
.section-two {
  position: relative;
  display: grid;
  grid-template-columns: 15em 40em 15rem; /*Fant ut størrsen jeg ville ha px og konverterte til EM for responsivitet*/
  justify-content: center;
  align-items: center; /* Aligner teksten midt på boksen*/
  margin-top: 3rem;
  color: #fff;
  gap: 10px;
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 0 0 0 11rem; /*Padder content til å bli mer sentrert på bilde i forhold til annet innhold*/
}
/* Denne setter oppløsningen på alle fiskebildene*/
.fish-img {
  display: block;
  width: 100%;
  border-radius: 5px 0 0 5px; /*Runder av venstre hjørner på bilde*/
}

/* Fish card er klassen for hele kortet og sørger for at de har lik spacing hele veien.*/
.fish-card {
  position: relative;
  margin-top: 3em;
  display: grid;
  grid-template-columns: 31.25em 24.375em;
  justify-content: center;
}

/* På teksten har jeg valgt å legge til en padding på 2.5em for å teksten til å bli mer sentrert*/
.fish-cardtext {
  font-size: 1.1rem;
  color: #0a1256;
  padding: 2.5em;
  border-radius: 0 5px 5px 0; /*Ved å bruke Figma kom jeg frem til denne løsningen selv. Hvor jeg bestemmer at topp høyre og bunn høyre hjørne skal rundes av*/
}

/* Her legges til forskjellige bakgrunnsfarger på kortene til teksten som har med fiskene å gjøre*/
.fish1 {
  background-color: #fffacf;
}
.fish2 {
  background-color: #ffdbcf;
}

.fish3 {
  background-color: #ffcfde;
}
.fish4 {
  background-color: #e4ffcf;
}
.fish5 {
  background-color: #cffff9;
}
.fish6 {
  background-color: #cffff9;
}
.fish7 {
  background-color: #d3cfff;
}
.fish8 {
  background-color: #ffcfff;
}
/* Jeg kom mer eller mindre frem til denne løsningen selv gjennom å prøve forskjellige metoder. Tanken er at på 800px så endres content til flex column
og med EM og REM på alt så blir det veldig responsivt helt ned til minste skjerm. Veldig fornøyd med løsningen.*/
@media screen and (max-width: 800px) {
  .section-one {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
  }
  .sect1-text,
  .sect2-text {
    font-size: 1em;
    line-height: 1.8rem;
  }
  header {
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
    gap: 1em;
  }
  ul {
    position: relative;
    list-style: none;
    gap: 1em;
    padding: 0 1rem;
  }
  .section-two {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
  }
  .fish-card {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 0.2rem;
  }
}
/*Sette opp en flex center på animasjonen. Likte at den subtly er i bunn av pagen og gir litt "undervannsfølse
uten at det tar for mye oppmerksomhet.*/
.Lottie-animation {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 2rem 0;
  justify-content: center;
  color: #fff;
  opacity: 0.4; /*Jeg kom frem til at en Opacity på 0.4 passet bra for at den ikke tok all oppmerksomheten*/
}
