body,
html {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}
/*deler av repeating-linear gradient er hentet fra 
https://stackoverflow.com/questions/29591465/use-css-variables-with-rgba-for-gradient-transparency
men ideen og mesteparten av koden kommer fra meg*/
.main-container {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: repeating-linear-gradient(
    to bottom,
    #2ddbe7 0%,
    #6a91dd 10%,
    #3b5fa7 40%,
    #0a1256 100%
  );
}
/* Her er alt som har med header å gjøre*/
.logo {
  width: 75px;
  height: 75px;
  margin: 15px;
}

header {
  color: #fff;
  display: flex;
  font-size: 1.2em;
  justify-content: center;
  position: relative;
  height: 10%;
  width: 100%;
  padding: 25px 0;
}

ul {
  position: relative;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  top: 28px; /* Legger a linkene på bunn linjem til tittelen*/
}

a:link,
a:visited {
  color: #fff;
}

.section-one {
  position: relative;
  display: grid;
  grid-template-columns: 450px 550px 300px;
  justify-content: center;
  align-items: center; /* Aligner teksten midt på boksen*/
  gap: 10px;
  margin-top: 150px;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

h2 {
  font-size: 1.6rem;
}

.sect1-image,
.sect2-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.sect1-text,
.sect2-text {
  font-size: 1.1em;
}
.section-two {
  position: relative;
  display: grid;
  grid-template-columns: 250px 750px 300px;
  justify-content: center;
  align-items: center; /* Aligner teksten midt på boksen*/
  margin-top: 50px;
  color: #fff;
  gap: 10px;
  font-size: 1.2rem;
  line-height: 1.6rem;
}
/* Denne setter oppløsningen på alle fiskebildene*/
.fish-img {
  width: 100%;
  height: 100%;
  border-radius: 5px 0 0 5px; /*Runder av venstre hjørner på bilde*/
}

.fish-card {
  margin-right: 385px;
  position: relative;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 500px 390px;
  justify-content: center;
}

.fish-cardtext {
  font-size: 1.2rem;
  color: #0a1256;
  padding: 40px;
  border-radius: 0 5px 5px 0; /*Ved å bruke Figma kom jeg frem til denne løsningen selv. Hvor jeg bestemmer at topp høyre og bunn høyre hjørne skal rundes av*/
}

/* Her legges til forskjellige bakgrunnsfarger på kortene til teksten som har med fiskene å gjøre*/

.fish1 {
  background-color: #fffacf;
}
.fish2 {
  background-color: #ffdbcf;
}

.fish3 {
  background-color: #ffcfde;
}
.fish4 {
  background-color: #e4ffcf;
}
.fish5 {
  background-color: #cffff9;
}
.fish6 {
  background-color: #cffff9;
}
.fish7 {
  background-color: #d3cfff;
}
.fish8 {
  background-color: #d3cfff;
}
