body,
html,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif; /*Fjerner base margin og padding fra all tekstsyntax*/
}
/*deler av repeating-linear gradient er hentet fra 
https://stackoverflow.com/questions/29591465/use-css-variables-with-rgba-for-gradient-transparency
men ideen og mesteparten av koden kommer fra meg*/
.main-container {
  margin-inline: auto; /*Definerer både logisk inline start og slutt på et element som tekst og direction*/
  position: relative;
  height: 100%;
  background-image: repeating-linear-gradient(
    to bottom,
    #2ddbe7 0%,
    #6a91dd 10%,
    #3b5fa7 40%,
    #0a1256 100%
  );
}

/* Her er alt som har med header å gjøre*/
.logo {
  width: 4.6rem;
  height: 4.6rem;
  margin: 1;
}

header {
  color: #fff;
  display: flex;
  font-size: 1.2em;
  justify-content: center;
  position: relative;
  height: 10%;
  width: 100%;
  padding: 5em 0;
}

ul {
  position: relative;
  list-style: none;
  display: flex;
  justify-content: flex-start; /* Pusher listen opp til Firmanavnet*/
  gap: 2.4em;
}
/*Denne ideen til en type link style fikk jeg fra Kevin Powell på denne siden https://www.youtube.com/watch?v=ceNMP-aQkQ4
Be utrolig fornøyd med*/
.top-link {
  text-decoration: none;
  color: #fff;
  position: relative;
  font-size: 1.4rem;
}

.top-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #ffcfde;

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.top-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
/*Fant ut at jeg hadde lyst å gjøre noe mer ut av sjøløve showet så lagde en liten animasjon til på slutten. Alt er fra mine tanker*/
.sea_lion_head_img {
  position: absolute;
  height: 4rem;
}

.sea_lion_anim {
  position: relative;
  display: flex;
  justify-content: center;
  top: 150px;
  -webkit-animation: sealion_head 6000ms 3 linear; /* Web kit inkluderer Safari 3.0 til 6.0 Nettlesere og tydligvis min Firefox*/
  animation: sealion_head 6000ms 3 linear; /*Jeg fant ut at jeg ikke ville ha infinite men kun 3 iterasjoner*/
  animation-delay: 5000ms;
}
/*Sjøløve animasjonsfrekvens. Jeg ville hode skulle gå opp, så ned igjen*/
@keyframes sealion_head {
  0% {
    top: 150px;
  }
  25% {
    top: 110px;
  }
  50% {
    top: 100px;
  }
  75% {
    top: 110px;
  }
  100% {
    top: 150px;
  }
}

/* Første seksjon som har med løveshowet å gjøre*/
.section-one {
  position: relative;
  display: grid;
  grid-template-columns: 35rem 35rem 15rem;
  justify-content: center;
  align-items: center; /* Aligner teksten midt på boksen*/
  gap: 0.625em;
  margin-top: 150px;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 0 0 0 9.375em; /*Padder content til å bli mer sentrert på bilde i forhold til annet innhold*/
}

h2 {
  font-size: 1.6rem;
  padding: 0 0 1rem 0;
}

.sect1-image,
.sect2-image,
.sect3-image {
  display: block;
  max-width: 100%;
  border-radius: 10px;
}

.sect3-image1 {
  height: 39vh; /* Jeg testet denne på to nettlesere med 100% istedenfor og da ble det helt perfekt i Firefox, men andre nettlesere
  så ble det helt forferdelig. Men VH funket på begge, selvom det var en liten forskjell der også. */
}
/* Både på sect1-text og image så kunne jeg fint droppet å gjort klassenavnet for komplisert men ville vise at ved et større prosjekt så hadde det vært
lett å kunne spesifikt velge ut den teksten jeg ville. */
.sect-text {
  font-size: 1.1em;
  line-height: 1.5rem;
  padding: 0.5rem;
  border-bottom: 2px solid #fff; /* Tror både uten og med border bottom kan passe bra. Jeg var litt i tvil men valgte å ha med*/
}
.section-two,
.section-three {
  position: relative;
  display: grid;
  grid-template-columns: 15em 40em 15rem; /*Fant ut størrsen jeg ville ha px og konverterte til EM for responsivitet*/
  justify-content: center;
  align-items: center; /* Aligner teksten midt på boksen*/
  margin-top: 3rem;
  color: #fff;
  gap: 10px;
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 0 0 0 11rem; /*Padder content til å bli mer sentrert på bilde i forhold til annet innhold*/
}
/* Denne setter oppløsningen på alle fiskebildene*/
.fish-img {
  display: block;
  width: 100%;
  border-radius: 5px 0 0 5px; /*Runder av venstre hjørner på bilde*/
}

/* Fish card er klassen for hele kortet og sørger for at de har lik spacing hele veien.*/
.fish-card {
  position: relative;
  margin-top: 3em;
  display: grid;
  grid-template-columns: 31.25em 24.375em;
  justify-content: center;
}

/* På teksten har jeg valgt å legge til en padding på 2.5em for å teksten til å bli mer sentrert*/
.fish-cardtext {
  font-size: 1.1rem;
  color: #0a1256;
  padding: 2.5em;
  border-radius: 0 5px 5px 0; /*Ved å bruke Figma kom jeg frem til denne løsningen selv. Hvor jeg bestemmer at topp høyre og bunn høyre hjørne skal rundes av*/
}

/* Her legges til forskjellige bakgrunnsfarger på kortene til teksten som har med fiskene å gjøre*/
.fish1 {
  background-color: #fffacf;
}
.fish2 {
  background-color: #ffdbcf;
}

.fish3 {
  background-color: #ffcfde;
}
.fish4 {
  background-color: #e4ffcf;
}
.fish5 {
  background-color: #cffff9;
}
.fish6 {
  background-color: #cffff9;
}
.fish7 {
  background-color: #d3cfff;
}
.fish8 {
  background-color: #ffcfff;
}
/* Jeg kom mer eller mindre frem til denne løsningen selv gjennom å prøve forskjellige metoder. Tanken er at på 800px så endres content til flex column
og med EM og REM på alt så blir det veldig responsivt helt ned til minste skjerm. Veldig fornøyd med løsningen.*/
@media screen and (max-width: 800px) {
  .section-one {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
  }
  .main-container {
    overflow: hidden;
  }
  .sect-text {
    font-size: 1em;
    line-height: 1.8rem;
    padding: 0.5rem;
    border-bottom: 2px solid #fff;
  }
  header {
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 1rem;
    gap: 1em;
  }
  ul {
    position: relative;
    list-style: none;
    gap: 1em;
    padding: 0 2rem;
  }
  .section-two {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
  }
  .fish-card {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 0.2rem;
  }
}
/*Sette opp en flex center på animasjonen. Likte at den subtly er i bunn av pagen og gir litt "undervannsfølse
uten at det tar for mye oppmerksomhet.*/
.Lottie-animation {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 2rem 0;
  justify-content: center;
  color: #fff;
  opacity: 0.4; /*Jeg kom frem til at en Opacity på 0.4 passet bra for at den ikke tok all oppmerksomheten*/
}
